@keyframes elongation {
    from {
        height: 15%;
    }
    to {
        height: 65%;
    }
}

@keyframes elongation2 {
    from {
        opacity: 0;
        width: 0%;
    }
    to {
        opacity: 1;
        width: 60%;
    }
}

@keyframes appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* index */

body {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    color: black;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    opacity: 0;
    animation: appear 1s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}

hr {
    width: 60%;
    background: #d6d8da;
    color: #d6d8da;
    height: 2px;
    border: none;
    border-radius: 5px;
    margin: 2vh;
    opacity: 0;
    animation: elongation2 1s;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
}

#profile {
    background: white;
    width: 25%;
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    filter: drop-shadow(0 0.2rem 0.25rem rgba(53, 53, 53, 0.5));
    animation: elongation 1s;
}



#hero {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30%;

}

#hero img {
    width: 65%;
    height: 30%;
    border-radius: 50%;
    border: 5px solid rgb(242, 112, 156);
    grid-column: 1;
    grid-row: 1;
}

#name {
    color: #4E5263;
    font-size: 24px;
}

#name h4 {
    margin: 0;
    padding-bottom: 0;
}

#name h5 {
    margin: 0;
    padding-top: 0;
    font-size: 16px;
    font-weight: 400;
}


#menu {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5vh;
    opacity: 0;
    animation: appear 1s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}

#menu a {
    color: #4E5263;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    padding: 1vh;
    display: flex;
    align-items: center;
    justify-content: left;
    border-radius: 6px;
    width: 80%;
    transition: background 0.3s;
}

#menu a:hover {
    background: #ECEAFA;
}

#menu img {
    width: 10%;
    margin-right: 1vh;
    margin-left: 1vh;
}

.button_goback {
    background: white;
    border-radius: 6px;
    font-weight: 400;
    color: #4E5263;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
    position: absolute;
    padding: 1vh;
    bottom: -25%;
    right: 0;
    text-decoration: none;
    transition: background 0.3s;
    opacity: 0;
    animation: appear 0.5s;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
}

.button_goback:hover {
    background: #ececec;
}

/* Tabela */

#table {
    background: white;
    font-size: 32px;
    text-align: left;
    border-radius: 6px;
    padding: 4vh;
    filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.5));
    margin: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    animation: appear 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

tr {
    background: #d0d0d0;
    padding: 0;
    margin: 0;
    font-size: 64px;
    border-spacing: 0;
    color: #4E5263;
}

tr:nth-child(2) {
    background: white;
}

table {
    border-spacing: 0;
}

/* Zegar */

#zegar {
    background-color: white;
    background-image: url(img/time_bright.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    font-size: 54px;
    text-align: center;
    border-radius: 6px;
    padding: 4vh;
    filter: drop-shadow(0 0.2rem 0.25rem rgba(0, 0, 0, 0.5));
    margin: 1vh;
    color: #4E5263;
    opacity: 0;
    animation: appear 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}

/* Kontakt */
form {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    opacity: 0;
    animation: appear 1s;
    animation-delay: 2s;
    animation-fill-mode: forwards;
    color: #4E5263;
}

input[type="text"] {
    width: 60%;
    border-radius: 10px;
    border: 1px solid #d0d0d0;
    padding: 1vh;
    margin: 1vh;
    font-family: 'Source Sans Pro';
    font-weight: 200;
    font-size: 16px;
}

input[type="radio"] {
    font-weight: 200;
}


textarea {
    width: 60%;
    margin: 1vh;
    border-radius: 10px;
    border: 1px solid #d0d0d0;
    padding: 1vh;
    resize: none;
    font-family: 'Source Sans Pro';
    font-weight: 200;
    font-size: 16px;
}

#animal {
    text-align: center;
    margin-bottom: 2vh;
}

#animal h3 {
    margin-bottom: 0;
}

.contact_title {
    color: #4E5263;
    opacity: 0;
    animation: appear 1s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

.button_send {
    border: 2px solid rgb(242, 112, 156);
    padding: 1vh;
    border-radius: 6px;
    background: none;
    cursor: pointer;
    font-weight: 400;
    position: relative;
    z-index: 1;
    color: #4E5263;
}

.button_send::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 0%;
    background: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));
    bottom: 0;
    left: 0;
    transition: height 0.2s;
    z-index: -1;
}

.button_send:hover::before {
    height: 100%;
}


.button_send:hover {
    color: white;
}

/* Slider */

#slider {
    background: white;
    width: 65%;
    height: 65%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
    filter: drop-shadow(0 0.2rem 0.25rem rgba(53, 53, 53, 0.5));
    color: #4E5263;
    opacity: 0;
    animation: appear 1s;
    animation-fill-mode: forwards;
}

#slides_menu {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 10px;
}

.slider_dot {
    background: #585b66;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    cursor: pointer;
    margin: 1vh;
    transition: background 0.2s;
}

.slider_dot:hover {
    background: #747680;
}

#slides {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

#slides img {
    width: 50%;
    border-radius: 2px;
}